@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
.greeting{
    font-family: 'Lora', serif;
}

.description{
    font-family: 'Varela', sans-serif;
    font-size:x-large;
}