@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
.logoText{
    font-size: xx-large;
    font-family: 'Raleway', sans-serif;
}

.logoText span{
    color: red;
}

.my_button {
    border: none;
    background: var(
      --gradient-purple-gradient-12,
      linear-gradient(90deg, #ff2222 0%, rgb(255, 141, 88) 100%)
    );
    padding: 10px 60px;
    border-radius: 30px;
    color: white;
    transition: 0.4s;
    position: relative;
    right: 0%;
  }

.my_button h5 {
    font-family: 'Raleway', sans-serif;
}
  
.my_button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.courseTitle{
    font-family: 'Lora', serif;
}

.description{
    font-family: 'Varela', sans-serif;
    font-size:x-large;
    text-align: justify;
}

.title{
    font-family: 'Nunito Sans', sans-serif;
}

.go{
    font-family: 'Raleway', sans-serif;
}